@font-face {
  font-family: "quicksandregular";
  src: url("./fonts/quicksand-regular-webfont.woff2") format("woff2"),
    url("./fonts/quicksand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quicksandlight";
  src: url("./fonts/quicksand-light-webfont.woff2") format("woff2"),
    url("./fonts/quicksand-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quicksandlight_italic";
  src: url("./fonts/quicksand-lightitalic-webfont.woff2") format("woff2"),
    url("./fonts/quicksand-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --lightgray: rgb(235, 235, 235);
}

div,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend {
  font-family: "quicksandregular", Arial, Helvetica, sans-serif;
}

legend {
  margin-bottom: 4px;
}

input,
textarea {
  margin-bottom: 4px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.edit-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.edit-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-modal {
  top: calc((100vh - (800px + 64px)) / 2);
  left: calc((100vw - (700px + 64px)) / 2);
  position: absolute;
  visibility: hidden;
  padding: 32px;
  width: 700px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.title-input,
.contact-info-input,
.education-input,
.experience-input {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.contact-info-input,
.education-input,
.experience-input {
  flex-wrap: wrap;
}

.profile-input {
  margin-bottom: 32px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 16px 32px 16px 32px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(224, 224, 224);
}

.submit-button:active {
  background-color: rgb(214, 214, 214);
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(92, 92, 92);
}

.page {
  padding-top: 32px;
  height: calc(952px - 32px);
  width: 800px;
  background-color: white;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px 32px 64px;
  height: 100px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 8px 8px -4px rgb(199, 199, 199);
}

.name {
  font-size: 48px;
}

.job {
  font-family: "quicksandlight", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.title-image {
  width: 15%;
  border-radius: 100%;
}

.body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: calc(952px - (32px + 100px + 64px));
}

.subheader {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 30px;
}

.body-text {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  font-family: "quicksandlight", Arial, Helvetica, sans-serif;
}

.time-range {
  margin: 0;
  font-size: 14px;
  font-family: "quicksandlight_italic", Arial, Helvetica, sans-serif;
}

.contact-info {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-top: 32px;
  margin-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  border-right: 1px solid var(--lightgray);
  border-bottom: 1px solid var(--lightgray);
}

.email-container,
.cellphone-container,
.location-container,
.website-container {
  display: flex;
  align-items: center;
}

.email-icon,
.cellphone-icon,
.location-icon,
.website-icon {
  height: 26px;
}

.email-text,
.cellphone-text,
.location-text,
.website-text {
  margin-left: 24px;
  font-size: 14px;
  font-family: "quicksandlight_italic", Arial, Helvetica, sans-serif;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 3 / 6;
  margin-right: 32px;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--lightgray);
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 5;
  grid-column: 1 / 3;
  margin-bottom: 32px;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  border-right: 1px solid var(--lightgray);
}

.education-miniheader {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 18px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2 / 5;
  grid-column: 3 / 6;
  padding: 32px;
}

.experience-miniheader {
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 18px;
}

.job-description-list {
  padding: 0;
}
